@page "/ship"

<!-- <h1>SeaPower!</h1> -->

<style>
  img.seapower {
  height: 100%;
  width: 100%;
}
</style>

<img class="seapower" src="seapower_upper.png">

@code {
    [Parameter]
    public string Text { get; set; }

    protected override void OnInitialized()
    {
        Text = Text ?? "fantastic";
    }
}