@page "/ship/{text}"
@using server.Data
@inject ShipService ShipService

<h1>Ship @shipId was sent @Text</h1>

@code {
    [Parameter]
    public string Text { get; set; }
    int shipId;

    protected override void OnInitialized()
    {
        Text = Text ?? "none";
        shipId = ShipService.SendDirection(Text);
    }
}